<nav>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="material-icons">local_movies</i>
      </a>
    </li>
    <li>
        <a routerLink="search" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
          true}">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
          <a routerLink="feedback" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
            true}">
            <i class="material-icons">feedback</i>
          </a>
        </li>
  </ul>
</nav>