<nav>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
        true}" matTooltip="Now Showing">
        <i class="material-icons">local_movies</i>
      </a>
    </li>
    <li>
        <a routerLink="my-tickets" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
          true}" matTooltip="My Tickets">
          <i class="material-icons">receipt</i>
        </a>
      </li>
      <li>
          <a routerLink="about-moviebook" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:
            true}" matTooltip="About">
            <i class="material-icons">info</i>
          </a>
        </li>
  </ul>
</nav>